@(modelInfo: fr.njin.play.crud.core.ModelInfo,
    id: String,
    rowIdView: String,
    value: String,
    forList: Boolean)

@import fr.njin.play.crud.views.html.ui

@if(forList) {
    <!-- Button to trigger modal -->
    <a href="@fr.njin.play.crud.controllers.routes.ControllersManager.show(modelInfo.getName, id, true)" data-target="#@rowIdView" data-toggle="modal">@value</a>

    <!-- Modal -->
    <div id="@rowIdView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="@{rowIdView+"Label"}" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
            <h3 id="@{rowIdView+"Label"}">@ui.showViewPageHeader(modelInfo.getName, id)</h3>
        </div>
        <div class="modal-body">
            <p>@ui.showModalLoading(modelInfo.getName)</p>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <form action="@fr.njin.play.crud.controllers.routes.ControllersManager.delete(modelInfo.getName, id)" method="post" onsubmit="return confirm('@ui.showDeleteConfirm(modelInfo.getName, id)');">
                    <button type="submit" class="btn btn-danger crud-show-actions"><i class="icon-remove icon-white"></i> <span>@ui.showDelete(modelInfo.getName)</span></button>
                </form>
            </div>
            <button class="btn crud-show-actions" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> <span>@ui.showModalClose(modelInfo.getName)</span></button>
            <a href="@fr.njin.play.crud.controllers.routes.ControllersManager.edit(modelInfo.getName, id)" class="btn btn-primary crud-show-actions"><i class="icon-edit icon-white"></i> <span>@ui.showEdit(modelInfo.getName)</span></a>
        </div>
    </div>
}else{
    <a href="@fr.njin.play.crud.controllers.routes.ControllersManager.show(modelInfo.getName, id, false)">@value</a>
}